{% extends 'base.html' %}
{% block content %}

<section class="contanier">

    <article class="sign-wrap">

      <form class="" action="" method="POST">
        {% csrf_token %}
        <h3 class="wrap-title">Sign Up</h3>

        <label>Username <span class="sign-required">*</span>
          <input type="text" name="username">
        </label>

        <label>Last Name <span class="sign-required">*</span>
          <input type="text" name="last_name">
        </label>

        <label>First Name <span class="sign-required">*</span>
          <input type="text" name="first_name">
        </label>

        <label>Password <span class="sign-required">*</span>
          <input type="password" name="password1">
        </label>

        <label>Password Check <span class="sign-required">*</span>
          <input type="password" name="password2">
        </label>

        <label>Email
          <input type="email" name="email">
        </label>
        {{ form.authority }}
        <button type="submit">Sign Up</button>

      </form>

    </article>

  </section>

{% endblock %}